@use '/src/common/styles/colors' as *
  
.contestBoxContainer
  max-width: 936px
  display: flex
  align-items: center
  justify-content: flex-end
  color: $lightGray
  background-color: #fff
  padding: 32px
  margin-bottom: 24px
  box-shadow: 0 8px 40px rgb(0 0 0 / .04)
  border-radius: 24px
  font-family: "Product Sans", sans-serif
  @media(max-width: 991px)
    flex-direction: column

  .mainContestInfo
    flex: 1 1
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    margin-right: 20px

    .prizeContainer
      margin-top: 5px
      display: flex
      justify-content: flex-start
      align-items: center

      .prize
        display: flex
        justify-content: flex-start

        img
          height: 22px
          width: 22px

        span
          margin-left: 0.5rem
          color: $lightGray
          font-size: 1rem
          vertical-align: middle
          line-height: 1.5

      .guaranteedContainer
        display: flex
        justify-content: flex-start
        align-items: center
        margin-right: 20px

        img
          box-sizing: border-box
          height: 22px
          width: 22px
          padding: 3px
          border-radius: 50%
          background-color: #8aca6b
          margin-right: 5px

        span
          color: #6e7072
          font-size: 13px

    .title
      margin: 0 0 0.63rem 0
      color: rgb(13, 110, 253)
      font-size: 1.38rem
      font-weight: 700
      cursor: pointer

    .additionalInfo
      margin-top: 0.63rem
    
    .contestCategory
      color: rgb(25, 24, 74)
      font-size: 0.88rem

    .formatDiffDate
      margin: 0.94rem
      color: $lightGray
      font-size: 1rem

    .contestContent
      margin-top: 0.94rem
      margin-bottom: 2.5rem

  .entryAndTimeContainer
    display: flex
    flex-direction: column
    padding: 10px
    
    @media(max-width: 991px)
      margin-top: 10px
      flex-direction: row
      align-self: flex-start

    .entriesContainer
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      padding: 0 20px

      .entriesSpan
        margin-top: 0.63rem
        margin-bottom: 3.75rem

      span
        color: black
        font-size: 1.5rem
        font-weight: bold // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

      .entriesCounter
        display: flex
        align-items: center
        justify-content: space-around

        img
          margin-right: 5px

        span
          margin-left: 0.31rem
          color: #637CF7
          font-size: 1rem
          font-weight: bold
          
    .timeContainer
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 0 20px

      .timeContest
        margin-top: 0.63rem
        color: black
        font-size: 1.5rem
        font-weight: bold

      span
        margin-left: 0.31rem
        margin-top: 3px
        color: #F49300
        font-size: 1rem
        font-weight: bold
